In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
newstring = 'Sampanda'

In [5]:
newlist = [letter for letter in mystring]

In [6]:
newlist

['h', 'e', 'l', 'l', 'o']

In [7]:
address = 'Duckpond Drive South'

In [8]:
another_list = [letter for letter in address]

In [9]:
another_list

['D',
 'u',
 'c',
 'k',
 'p',
 'o',
 'n',
 'd',
 ' ',
 'D',
 'r',
 'i',
 'v',
 'e',
 ' ',
 'S',
 'o',
 'u',
 't',
 'h']

In [10]:
mylist = [x for x in 'word']

In [11]:
mylist

['w', 'o', 'r', 'd']

In [12]:
mylist = [x for x in range(0,8)]

In [13]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7]

In [14]:
llist = [num ** 2 for num in range(0,5)]

In [15]:
llist

[0, 1, 4, 9, 16]

In [16]:
celcius = [0,10,20,34.5]

In [17]:
fahrenheit = [(9/5)*temp + 32 for temp in celcius]

In [18]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]